<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/formsStyles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
    <title>Добавяне на оценка от преподавател</title>
    <style>
        /* Basic styling for the form */
        .form-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        select,
        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <%- include('../partials/lecturerHeader') %>
    <div class="form-container">
        <h2>Добавяне на оценка от преподавател</h2>
        <form id="gradeForm" action="/lecturer/add/marks" method="POST">
            
            <div class="form-group">
                <label for="selectSubject">Предмет</label>
                <select id="selectSubject" name="subject">
                    <option value="">Изберете предмет</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectGroup">Група</label>
                <select id="selectGroup" name="group">
                    <option value="">Изберете група</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectFacultyNumber">Факултетни номера</label>
                <select id="selectFacultyNumber" name="facultyNumber">
                    <option value="">Изберете факултетен номер</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selectGrade">Оценка</label>
                <select id="selectGrade" name="grade">
                    <option value="">Изберете оценка</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
            <button type="submit" class="submit">Добавяне на оценка</button>
        </form>
    </div>

    <!-- <script src="/js/addStudentFormSelects.js"></script> -->
    <script src="/js/lecturerAddStudentMarkSelects.js"></script>
</body>

</html>