<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/schedule.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/formsStyles.css" />
    <script src="https://kit.fontawesome.com/13ecc83974.js" crossorigin="anonymous"></script>
    <script src="/js/fillScheduleLecturer.js"></script>
    <title>Седмично разписание</title>
</head>

<body>
    <%- include('../partials/lecturerHeader') %>
        <!-- <h1>Седмично разписание</h1> -->
        <h1 id="studentGroupInfo"></h1>
        <div class="container1">
            <section id="container">
                <section class="header">
                    <div id="monday">Понеделник
                        <section id="classesM"></section>
                    </div>
                    <div id="tuesday">Вторник
                        <section id="classesT"></section>
                    </div>
                    <div id="wednesday">Сряда
                        <section id="classesW"></section>
                    </div>
                    <div id="thursday">Четвъртък
                        <section id="classesTh"></section>
                    </div>
                    <div id="friday">Петък
                        <section id="classesF"></section>
                    </div>
                    <div id="saturday">Събота
                        <section id="classesS"></section>
                    </div>
                    <div id="sunday">Неделя
                        <section id="classesSu"></section>
                    </div>
                </section>
            </section>
        </div>
</body>

</html>