<div class="formInput">
    <label for="username">Потребителско име</label>
    <input type="text" name="username" id="username" required>
</div>

<div class="formInput">
    <label for="password">Парола</label>
    <input type="password" name="password" id="password" required>
</div>

<div class="formInput">
    <label for="passwordRepeat">Повторете паролата</label>
    <input type="password" name="passwordRepeat" id="passwordRepeat" required>
</div>