<nav class="navbar">
    <div>
    </div>
    <div class="navbar-center">
        VARUN
    </div>
    <div class="navbar-right">
        <div class="profileDropdown">
            <i id="menu" class="fa-solid fa-bars"></i>
            <div class="dropdown-content">
                <a id="profile" href="/student/profile">Профил</a>
                <a id="profile" href="/student/homePage">Начална страница</a>

                <%- include('../partials/logoutForm') %>
            </div>
        </div>
    </div>
</nav>

<script src="\js\navbar.js"></script>